body.config {
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
    
    form {
        width: 100%;
        padding: .5em 1em;
        box-sizing: border-box;

        &.flex {
            display: flex;
            div.col { 
                flex: 1;
                &:first-child {
                    margin-right: .8em;
                }
             }
        }

        div { 
            margin: 0 0 .8em; 

            &.colas {
                max-height: 450px;
                overflow-y: auto;

                .cola {
                    display: flex;
                    align-items: center;

                    input[type="text"], input[type="num"] {
                        width: 60%;
                    }

                    input[type="color"] {
                        margin-left: 1em;
                    }
                }
            }
        }
    }

    button {
        padding: .4em 1.5em;
        border: 2px solid darken($light-color, 20%);
        background-color: darken($light-color, 20%);

        &:hover {
            border-color: darken($light-color, 40%);
        }

        &:active {
            border-color: darken($light-color, 40%);
            background-color: darken($light-color, 40%);
        }
    }

    fieldset {
        margin-bottom: 1em;
    }

    select { overflow: auto; }

    input[type="text"], input[type="num"], select {
        border: 2px solid darken($light-color, 30%);
        padding: .4em;
        margin: .6em 0;
        width: 90%; 
        display: block;

        &:hover { border-color: darken($light-color, 50%); }

        &:focus { border-color: $primary-color; }
    }
    

    input[type="checkbox"] { display: none; }


    input[type="checkbox"] + label::before {
        content: '';
        display: inline-block;
        width: 19px;
        height: 19px;
        border: 2px solid darken($light-color, 30%);
        margin-right: 1em;
        position: relative;
        top: 0.2em;
    }

    input[type="checkbox"]:not(:disabled):hover + label::before { border-color: $dark-color; }
    input[type="checkbox"]:not(:disabled):active + label::before { 
        background-color: darken($light-color, 40%);
        border-color: darken($light-color, 40%);
    }

    input[type="checkbox"]:checked + label::before {
        background-color: $primary-color;
        border-color: $primary-color; 
    }


    input:disabled { 
        background-color: lightgrey;

        & + label::before { background-color: lightgrey !important; } /* Para los checkbox */
     }

     

     div.coord { /* Coordenadas de ventanas */
        input[type="num"], input[type="text"] { 
            width: 35%;
            display: inline-block;
         }
    }
}